/* Navbar styling */
#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: rgb(0, 91, 165);
    color: white;
    height: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#navbar-btn-container {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

/* DateFilter styling */
#datefilter-container {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

/* Map styling */
.leaflet-container {
    height: 85vh;
}

/* UserRegistrationForm styling */
#user-registration-from-container {
    border: 1px solid black;
    width: 350px;    
    padding-bottom: 2vh;
}

#user-registration-from {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    align-items: center;
}